body {
    font-family: 'Arial', sans-serif;
    background: url('bday.png') center/10% repeat fixed, linear-gradient(rgba(255, 214, 230, 0.8), rgba(255, 214, 230, 0.8));
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000;
}

.header, .header h1 {
    text-align: center;
    color: #ff1493;
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.date {
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    color: #503047;
    margin-top: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.start-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #000;
    position: relative;
    overflow: hidden;
}

.header, .date, .body-text {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.body-text {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 130px;
    overflow: auto;
}

#gameContainer {
    display: none;
}

.game-container {
    margin-top: 20px;
    position: relative;
    border: 2px solid #fff;
    overflow: hidden;
}

#lives {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive; /* Add this line to use the desired font */
    color: #ffffff; /* Change this to white */
}

.space-invaders {
    width: 800px;
    height: 600px;
    position: relative;
    background: url('background.jpg') center/cover no-repeat;
}

.spaceship {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #ff6347;
    border-radius: 5px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.alien {
    position: absolute;
    width: 50px; /* Adjust the width based on your alien image */
    height: 20px; /* Adjust the height based on your alien image */
    background-image: url('alien.png');
    background-size: cover; /* Ensures the image covers the entire element */
}

.explosion {
    position: absolute;
    width: 50px; /* Adjust the width based on your explosion image */
    height: 50px; /* Adjust the height based on your explosion image */
    background-image: url('explosion 1.png'); /* Specify the path to your explosion image */
    background-size: cover;
    animation: explosionAnimation 1s forwards;
}

@keyframes explosionAnimation {
    0% { transform: scale(0); }
    100% { transform: scale(1); opacity: 0; }
}

.bullet {
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: #fff;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #fff;
    font-family: 'Press Start 2P', cursive; /* Use 'Press Start 2P' font */
}

#startButton {
    font-family: 'Quicksand', sans-serif;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

#startButton:hover {
    background-color: #45a049;
}
